body {
	padding-top: 15px;
}

.tabset-toolbar {
	float: right;
}

ul.nav-tabs {
	padding-left: 5px;
	border-bottom: 0px;
}

.tab-pane {
	padding: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

pid-chart {
	display: block;
	width: 100%;
	height: 300px;
}

vibration-chart {
	display: block;
	width: 100%;
	height: 600px;
}

.instrument {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 1px solid #ddd;
}

table.configuration label.inline {
	width: 100%;
	text-align: right;
	padding-right: 15px;
}

table.configuration td {
	min-width: 40px;
}

table.configuration input.form-control[type=checkbox] {
	width: 34px;
	margin: 0 4px;
}

.console {
	max-height: 300px;
	overflow: auto;
}

.console div.message.info .glyphicon {
	color: #5bc0de;
}

.console div.message.warn .glyphicon {
	color: #f0ad4e;
}

.console div.message.error {
	color: #d9534f;
}