<table class="configuration">
	<thead>
		<tr>
			<td></td>
			<th>KP</th>
			<th>KI</th>
			<th>KD</th>
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td><label class="inline">Hover</label></td>
			<td>
				<input type="number" min="0" max="10" step="0.05" class="form-control" ng-model="config.data.pid.hover.p">
			</td>
			<td>
				<input type="number" min="0" max="0.1" step="0.0005" class="form-control" ng-model="config.data.pid.hover.i">
			</td>
			<td>
				<input type="number" min="0" max="254" class="form-control" ng-model="config.data.pid.hover.d">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Acro</label></td>
			<td>
				<input type="number" min="0" max="10" step="0.05" class="form-control" ng-model="config.data.pid.acro.p">
			</td>
			<td>
				<input type="number" min="0" max="0.1" step="0.0005" class="form-control" ng-model="config.data.pid.acro.i">
			</td>
			<td>
				<input type="number" min="0" max="254" class="form-control" ng-model="config.data.pid.acro.d">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Yaw</label></td>
			<td>
				<input type="number" min="0" max="10" step="0.05" class="form-control" ng-model="config.data.pid.yaw.p">
			</td>
			<td>
				<input type="number" min="0" max="0.1" step="0.0005" class="form-control" ng-model="config.data.pid.yaw.i">
			</td>
			<td>
				<input type="number" min="0" max="254" class="form-control" ng-model="config.data.pid.yaw.d">
			</td>
		</tr>
	</tbody>
</table>