<table class="configuration">
	<thead>
		<tr>
			<td></td>
			<th>Pin</th>
			<th>Reverse</th>
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td><label class="inline">Left Motor</label></td>
			<td>
				<input type="number" min="1" max="64" class="form-control" ng-model="config.data.output.motor.left.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Right Motor</label></td>
			<td>
				<input type="number" min="1" max="64" class="form-control" ng-model="config.data.output.motor.right.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Rear Motor</label></td>
			<td>
				<input type="number" min="1" max="64" class="form-control" ng-model="config.data.output.motor.rear.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Servo</label></td>
			<td>
				<input type="number" min="1" max="64" class="form-control" ng-model="config.data.output.servo.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.output.servo.rev">
			</td>
		</tr>

	</tbody>
	<thead>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>
				<label class="inline">ESC Arm value</label>
			</td>
			<td>
				<input type="number" min="0" max="254" class="form-control" ng-model="config.data.output.motor.escarm">
			</td>
		</tr>

	</tbody>
</table>