<table id="drone-config-i-o">
	<thead>
		<tr>
			<td></td>
			<th>Pin</th>
			<th>Reverse</th>
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td><label class="inline">Gyro Roll</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.gyro.roll.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.gyro.roll.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Gyro Nick</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.gyro.nick.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.gyro.nick.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Gyro Yaw</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.gyro.yaw.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.gyro.yaw.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Accelerometer Roll</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.accelerometer.roll.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.accelerometer.roll.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Accelerometer Nick</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.accelerometer.nick.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.accelerometer.nick.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Accelerometer Yaw</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.accelerometer.yaw.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.accelerometer.yaw.rev">
			</td>
		</tr>
		<tr>
			<td><label class="inline">Left Motor</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.motor.left.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Right Motor</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.motor.right.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Rear Motor</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.motor.rear.pin">
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label class="inline">Servo</label></td>
			<td>
				<input type="number" class="form-control" ng-model="config.data.io.servo.pin">
			</td>
			<td>
				<input type="checkbox" class="form-control" ng-model="config.data.io.servo.rev">
			</td>
		</tr>
	</tbody>
</table>